<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="A_Store_API_Test_Suite">
    <listeners>
        <listener class-name="org.astore.Utilities.ExtentReportManager"/>
    </listeners>

    <test name="AdminTestSuite" verbose="1" preserve-order="true">
        <classes>
            <class name="org.astore.Tests.AdminTest">
                <methods>
                    <include name="registerAdminTest"/>
                    <include name="verifyDuplicateRegistration"/>
                    <include name="verifyEmptyUsername"/>
                    <include name="verifySuccessfulLogin"/>
                    <include name="verifyUnsuccessfulLoginWithoutUsername"/>
                    <include name="verifyUnsuccessfulLoginWithIncorrectUsername"/>
                    <include name="retrieveUserDetailsTest"/>
                    <include name="retrieveUserDetailsWithBlankAccessTkn"/>
                    <include name="retrieveUserDetailsWithInvalidAccessTkn"/>
                </methods>
            </class>
            <!-- Add more test classes as needed -->
        </classes>
    </test>

    <!-- Add more <test> elements for additional test suites -->

</suite>
